.new-expense {
  background: linear-gradient(
    90deg,
    rgba(197, 193, 193, 0.82) 0%,
    rgba(244, 246, 247, 0.25) 100%
  );
  padding: 1rem;
  margin: 2rem auto;
  width: 50rem;
  max-width: 95%;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}

.new-expense button {
  font: inherit;
  cursor: pointer;
  padding: 1rem 2rem;
  border: 1.5px solid rgba(6, 116, 65, 0.2);
  background-color: rgba(6, 116, 65, 0.8);
  color: white;
  border-radius: 12px;
  margin-right: 1rem;
}

.new-expense button:hover,
.new-expense button:active {
  background-color: rgba(6, 116, 65, 0.6);
  border: 1.5px solid rgba(241, 245, 243);
}

.new-expense button.alternative {
  color: #220131;
  border-color: transparent;
  background-color: transparent;
}

.new-expense button.alternative:hover,
.new-expense button.alternative:active {
  background-color: #ddb3f8;
}
